{% extends 'base.html' %}
{% block content %}
{% load static %}   


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form action="" method="POST" role="form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="prontuario">
                                Prontuário: </label>
                            {{ form.prontuario }}
                        </div>
                        <div class="form-group">
                            <label for="name">
                                Nome: </label>
                            {{ form.name }}
                        </div>
                        <div class="form-group" >
                            <label for="dn">
                                Data de Nascimento: </label>
                            {{ form.dn }}
                        </div>
                        <div class="form-group">
                            <label for="cpf">
                                CPF: </label>
                            {{ form.cpf }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="message">
                                Observações: </label>
                            {{ form.message }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Cadastrar Paciente</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
       
    </div>
</div>
</body>
</html>
{% endblock %}